@font-face {
	font-family: 'Barlow Semi Condensed';
	src: url('./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Barlow Semi Condensed';
	src: url('./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Barlow Semi Condensed';
	src: url('./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf');
	font-weight: 400;
}

:root {
	--clr-lighter-violet: hsl(263, 72%, 67%);
	--clr-moderate-violet: hsl(263, 55%, 52%);
	--clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
	--clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
	--clr-white: hsl(0, 0%, 100%);

	--clr-light-gray: hsl(0, 0%, 81%);
	--clr-light-grayish-blue: hsl(210, 46%, 95%);

	font-size: 13px;
}

body {
	background-color: var(--clr-light-grayish-blue);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 500;
}

main {
	margin: 1rem;
}

.grid {
	display: grid;
	gap: 1rem;
}

/*** Card ***/

.card {
	border-radius: 10px;
	padding: 1rem;
}

.card-quote-bg {
	background-image: url('./images/bg-pattern-quotation.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

.card__header {
	display: flex;
	gap: 1rem;
}

.card__header__avatar > img {
	border-radius: 100%;
	border-style: solid;
	border-width: 3px;
}

/*** Card Avatar Border Colors ***/
.avatar-border-violet {
	border-color: var(--clr-lighter-violet);
}

.avatar-border-white {
	border-color: var(--clr-white);
}

.avatar-border-grey {
	border-color: var(--clr-light-gray);
}

/*** ************************ ***/

.card__header__details {
	display: flex;
	flex-direction: column;
	line-height: 0;
}

.card__header__details__name {
	font-size: 1.15rem;
	font-weight: 500;
}

.card__header__details__occupation {
	font-weight: 400;
	margin-top: 0.7rem;
}

.card__big-quote {
	font-size: 2rem;
	line-height: 2.4rem;
	margin-block: 1rem;
}

.card__small-quote {
	font-weight: 400;
	margin: 0;
}

/*** Card BG Colors ***/

.bg-clr-violet {
	background-color: var(--clr-moderate-violet);
	color: var(--clr-white);
}

.bg-clr-white {
	background-color: var(--clr-white);
	color: var(--clr-very-dark-grayish-blue);
}

.bg-clr-black {
	background-color: var(--clr-very-dark-blackish-blue);
	color: var(--clr-white);
}

.bg-clr-grey {
	background-color: var(--clr-very-dark-grayish-blue);
	color: var(--clr-white);
}

/*** Footer ***/

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
